<form method="post" action="{{ path('app_proveedor_delete', {'id': proveedor.id}) }}" onsubmit="return confirm('Seguro que deseas eliminar a este proveedor?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proveedor.id) }}">
    <button class="btn">Eliminar</button>
</form>
