{% extends 'base.html.twig' %}

{% block title %}Editar Proveedor{% endblock %}

{% block body %}
    <h1>Edit Proveedor</h1>

    {{ include('proveedor/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_proveedor_index') }}" class="btn btn-secondary">Volver a la lista</a>

    
{% endblock %}
