{% extends 'base.html.twig' %}

{% block title %}Nuevo Proveedor{% endblock %}

{% block body %}
    <h1>Crear un Proveedor</h1>

    {{ include('proveedor/_form.html.twig') }}

    <a href="{{ path('app_proveedor_index') }}" class="btn btn-secondary">Volver a la lista</a>
{% endblock %}
